<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aquabots Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="mt-3 mb-1 mx-5 row col-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Thingsboard access-code</span>
                </div>
                <input type="text" class="form-control" id="thingsboard-access-code" placeholder="00000000000000000000" value="4k1q85v7h544t6d6ki17" />
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type="submit" value="Submit" id="submit-thingsboard-access-code" />
                </div>
            </div>
        </div>
        <button id="toggle-all-sensors">Toggle all sensors</button>

        <hr/>

        <div class="container row m-5">
            {% for sensor in sensors %}
                {% include "card-template.html" %}
            {% endfor %}
        </div>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    </body>
</html>
